.product-details {
  padding: 24px 32px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .product-colors {
    position: relative;
    height: 26px;
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  
    .product-color {
      width: 24px;
      height: 24px;

      border-radius: 100%;
      border: solid 4px #fff;
      cursor: pointer;

      &.color-red {
        background-color: red;
      }

      &.color-black {
        background-color: black;
      }

      
    }

    &.active-red {
      .product-color {
        &.color-red {
          border: solid 4px green;
        }
      }
    }

    &.active-black {
      .product-color {
        &.color-black {
          border: solid 4px green;
        }
      }
    }
  }
}
  
.product {
  width: 500px;
  height: auto;
  margin: 0 auto 50px;
  display: flex;
  overflow: hidden;
  box-shadow: -20px 10px 30px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  color: #333;
  border-radius: 10px;
  &:hover {
    text-decoration: none;
    color: #333;
  }
  
  &.item-details-page {
    width: 100%;
    box-shadow: none;
    border-radius: 0;
  }
  
  .product-image {
    background: linear-gradient(to top, #2193b0, #6dd5ed);
    min-height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  
    > img {
      max-width: 100%;
      max-height: 100%;
    }
  }

}