<LinkTo @route="cart" class="cart-link">
    <i class="fa fa-shopping-cart icon"></i>
    {{#if this.shoppingCart.itemList.length}}
        <span class="shopping-cart__badge">{{this.shoppingCart.itemList.length}}</span>
    {{/if}}
</LinkTo>
<main class="container mt-5">
    {{yield}}
</main>