{{page-title "Practice"}}

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Practice</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item nav-link"><LinkTo @route="tasks">Home</LinkTo></li>
        <li class="nav-item nav-link"><LinkTo @route="tasks.new">New Task</LinkTo></li>
      </ul>
    </div>
  </div>
</nav>
<main class="flex-shrink-0">
  <div class="container page-content">
    {{outlet}}
  </div>
</main>


