{{page-title "Tasks manager"}}
<LinkTo @route="new-task">
    <i class="fa fa-add"></i>
</LinkTo>
<main class="container mt-5">
    <LinkTo @route="task" @model="1">Task 1</LinkTo>
    <LinkTo @route="task" @model="2">Task 2</LinkTo>
</main>

{{outlet}}