{{page-title "Item"}}
<GeneralContainer>
  <div class="product item-detail-page">
    <Product::Image />
    <Product::Detail />
  </div>
  <h5 class="mt-5">Features</h5>
  <ul>
    <li>asdasdasdadasdadasdasdasdads</li>
    <li>asdasdasdadasdadasdasdasdads</li>
    <li>asdasdasdadasdadasdasdasdads</li>
    <li>asdasdasdadasdadasdasdasdads</li>
    <li>asdasdasdadasdadasdasdasdads</li>
  </ul>
</GeneralContainer>
