{{page-title "NewTask"}}

<main class="container mt-5">
  <h1>New Task</h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><LinkTo @route="index">Home</LinkTo></li>
    <li class="breadcrumb-item">New Task</li>
  </ol>

  <section class="w-50 ml-auto mb-5">
    <div class="row">
      <span class="col">Title</span>
      <span class="col">{{this.title}}</span>
    </div>
    <div class="row">
      <span class="col">Description</span>
      <span class="col">{{this.description}}</span>
    </div>
  </section>

  <button class="btn btn-success">Create!</button>
</main>